<!-- <nav class="app-header-nav">
    <a class="app-header-nav-items" routerLink="/">Analyse</a>
    <a class="app-header-nav-items" routerLink="/images">Gallery</a>
</nav> -->

<header class="header header-6">
    <div class="header-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><span class="nav-text">Analyse</span></a>
        <a class="nav-link" routerLink="/images" routerLinkActive="active">Gallery</a>
        <a class="nav-link" routerLink="/tagging_services" routerLinkActive="active">Tagging Services</a>
    </div>
</header>