<div class="gallery-page">
    <h2>Gallery</h2>
    <div class="gallery-page-heading">
        <div class="form-container">
            <div class="form-recommended-tags">
                <span *ngIf="recommendedTags && recommendedTags.length != 0"> Recommended tags: </span>
                <span *ngFor="let item of recommendedTags | slice:0:30" class="form-tag-recommended" (click)="addTagToInput(item.tag)"> {{ item.tag }}</span>
            </div>
            <!-- <form (ngSubmit)="searchImages()" class="tag-search-form"> -->
            <form (ngSubmit)="addCustomTag()" class="tag-search-form">
                <div class="form-search-settings">
                    <div class="searchbar">
                        <label for="tagsSearch" class="submit-tags-search-label">Search or filter by tag:</label>
                        <input class="submit-tags-search-input" type="text" name="tagsSearch" [(ngModel)]="tagsSearch" 
                        (ngModelChange)="onTagsSearchChange()" placeholder="Enter tags">
                        <button class="btn btn-primary" type="submit">Add tag</button>
                    </div>

                    <div *ngIf="!tags" class="search-settings">
                        <!-- <div *ngIf="pageSize != 0" class="select-settings"> -->
                        <div class="select-settings">
                            <label for="order">Sort by</label>
                            <select name="order" id="order" [(ngModel)]="order" (ngModelChange)="searchSettingsChange()">
                                <option value="desc">Descending</option>
                                <option value="asc">Ascending</option>
                            </select>
                        </div>
                        
                        <div class="select-settings">
                            <label for="pageSize">Page size</label>
                            <select name="pageSize" id="pageSize" [(ngModel)]="pageSize" (ngModelChange)="searchSettingsChange()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20" selected="selected">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="0">All</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="search-by-tags">
                    <div class="selected-tags">
                        <div *ngFor="let selected_tag of filterByTags" class="selected-tag">
                            <span>{{selected_tag}}</span>
                            <span class="delete-tag" (click)="deleteTag(selected_tag)">x</span>
                        </div>
                        <span *ngIf="filterByTags.size != 0" (click)="clearTags()" class="clear-tags">Clear Tags</span>
                    </div>
                    <!-- <button class="btn btn-primary" type="submit">Search</button> -->
                </div>
            </form>
        </div>
    </div>
    <h5 *ngIf="tags">Showing results for tags: {{ tags }} </h5>

    <app-gallery-page-container [images]="images"></app-gallery-page-container>

    <button *ngIf="!tags && !(pageSize == 0 && pageNumber == 0) && lastFetchSize == pageSize" (click)="fetchMoreImages()" class="btn show-more-btn">Show more</button>

</div>