<div class="gallery-page">
    <h2>Gallery</h2>
    <div class="gallery-page-heading">
        <div class="form-container">
            <div class="form-recommended-tags">
                <span *ngFor="let item of recommendedTags" class="form-tag-recommended" (click)="addTagToInput(item.tag)"> {{ item.tag }}</span>
            </div>
            <!-- <form (ngSubmit)="searchImages()" class="tag-search-form"> -->
            <form (ngSubmit)="addCustomTag()" class="tag-search-form">
                <div class="searchbar">
                    <label for="tagsSearch" class="submit-tags-search-label">Search or filter by tag:</label>
                    <input class="submit-tags-search-input" type="text" name="tagsSearch" [(ngModel)]="tagsSearch" 
                    (ngModelChange)="onTagsSearchChange()" placeholder="Enter tags">
                    <button class="btn btn-primary" type="submit">Add tag</button>
                
                </div>
                <div class="search-by-tags">
                    <div class="selected-tags">
                        <div *ngFor="let selected_tag of filterByTags" class="selected-tag">
                            <span>{{selected_tag}}</span>
                            <span class="delete-tag" (click)="deleteTag(selected_tag)">x</span>
                        </div>
                        <span *ngIf="filterByTags.size != 0" (click)="clearTags()" class="clear-tags">Clear Tags</span>
                    </div>
                    <!-- <button class="btn btn-primary" type="submit">Search</button> -->
                </div>
            </form>
        </div>
    </div>
    <h5 *ngIf="tags">Showing results for tags: {{ tags }} </h5>

    <app-gallery-page-container [images]="images"></app-gallery-page-container>
</div>