img {
    width: 600px;
    border-radius: 5px;
}

.image-page-portrait {
    padding: 4rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.image-page-portrait .image-page-data {
    display: flex;
    flex-direction: column;
}

.image-page-landscape {
    padding: 4rem 7rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.image-page-tags {
    display: flex;
    row-gap: 0.2rem;
    width: 20rem;
    flex-wrap: wrap;
}

.image-page-tags .image-page-tag .tag-name {
    background: #F3F4F6FF;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0;
}

.image-page-tag p {
    margin: 0;
}

.image-page-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.tag-confidence {
    // margin-bottom: 5px;
    // background-color: rgb(0,86,122);
    // color: #FFFFFF;
    // padding: 5px;
    font-size: 10px;
    visibility: hidden;
}

.image-page-tag:hover .tag-confidence {
    visibility: visible;
}

.attach-url-svg {
    width: 15px;
    margin-right: 6px;
}

.image-page-url {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}