.gallery-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    max-width: 15rem;
}

img {
    border-radius: 7px;
    width: 100%;
    max-width: 20rem;
    height: 15rem;
    object-fit: cover;
    // object-fit: contain;
}

.gallery-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 1rem;
}

// .gallery-container {
//     display: flex;
//     // justify-content: center;
//     // align-items: center;
//     flex-wrap: wrap;
//     gap: 1rem;
// }

.gallery-card-tags {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 5px;
}

.image-tag {
    background: #F3F4F6FF;
    padding: 3px 10px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}